:2016 {

    root {$GOPATH}/src/github.com/xuqingfeng/caddy-rate-limit/test_site
    browse /
    ext .html
    log stdout
    errors stderr

    ratelimit * /s 1 2 second
    ratelimit get,post /m 2 3 minute
    ratelimit delete /i 2 3 infinite
    ratelimit get ^/m/u 1 1 minute
    ratelimit * /d 10 20 day
    ratelimit * /w 100 200 week

    ratelimit get 1 2 second {
        whitelist 127.0.0.1/32
        whitelist 10.10.2.15/32
        /static
    }

}